<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrderManagerNew.Properties.OrderManagerProps" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OrderManagerNew.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrderManagerNew.Properties.HyperLink" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <OrderManagerNew.Properties.OrderManagerProps>
            <setting name="cad_projectDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="implant_projectDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ortho_projectDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="tray_projectDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="splint_projectDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DateFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PatientNameFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="CaseNameFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="mostsoftwareDisk" serializeAs="String">
                <value />
            </setting>
            <setting name="systemDisk" serializeAs="String">
                <value />
            </setting>
            <setting name="AirD_uid" serializeAs="String">
                <value />
            </setting>
            <setting name="AirDentalAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="AirD_CAD_Dir" serializeAs="String">
                <value />
            </setting>
            <setting name="AirD_Implant_Dir" serializeAs="String">
                <value />
            </setting>
            <setting name="AirD_Ortho_Dir" serializeAs="String">
                <value />
            </setting>
            <setting name="OMLatestVer" serializeAs="String">
                <value />
            </setting>
        </OrderManagerNew.Properties.OrderManagerProps>
        <OrderManagerNew.Properties.Settings>
            <setting name="sysLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="cad_exePath" serializeAs="String">
                <value />
            </setting>
            <setting name="implant_exePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ortho_exePath" serializeAs="String">
                <value />
            </setting>
            <setting name="tray_exePath" serializeAs="String">
                <value />
            </setting>
            <setting name="splint_exePath" serializeAs="String">
                <value />
            </setting>
            <setting name="guide_exePath" serializeAs="String">
                <value />
            </setting>
            <setting name="engineerMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PingTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LastSoftwareFilter" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AirdentalAcc" serializeAs="String">
                <value />
            </setting>
            <setting name="AirdentalCookie" serializeAs="String">
                <value />
            </setting>
            <setting name="showCloudOrderNumbers" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Log_filePath" serializeAs="String">
                <value />
            </setting>
        </OrderManagerNew.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <OrderManagerNew.Properties.HyperLink>
            <setting name="ContactInteware" serializeAs="String">
                <value>https://www.facebook.com/messages/t/191158537741700</value>
            </setting>
            <setting name="ForgetAirdentalPassword" serializeAs="String">
                <value>https://airdental.inteware.com.tw/findyouraccount/search</value>
            </setting>
        </OrderManagerNew.Properties.HyperLink>
    </applicationSettings>
</configuration>